<a href="https://colab.research.google.com/github/Zabiullahkhan/Data_Science/blob/main/NLP_15Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df=pd.read_csv("/content/hotel_booking_data (1).csv")

In [ ]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [ ]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

### 1.What are the top 5 most common country codes in the dataset?

In [ ]:
df["country"].value_counts().head()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

### 2.What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?

In [ ]:
df[["name","adr"]].loc[df["adr"].max()]

name    Timothy Reeves
adr              39.33
Name: 5400, dtype: object

### 3.What is the average (mean) number of nights for a stay across the entire data set?

In [ ]:
((df["stays_in_weekend_nights"].mean())+(df["stays_in_week_nights"].mean()))/2

1.7139500795711533

### 4.What is the average total cost for a stay in the dataset?

In [ ]:
df["adr"].mean()

101.83112153446686

### 5.What are the names and emails of people who made 5 "Special Requests"?

In [ ]:
df[["name","email","total_of_special_requests"]].loc[df["total_of_special_requests"]==5]

,name,email,total_of_special_requests
7860,Amanda Harper,Amanda.H66@yahoo.com,5
11125,Laura Sanders,Sanders_Laura@hotmail.com,5
14596,Tommy Ortiz,Tommy_O@hotmail.com,5
14921,Gilbert Miller,Miller.Gilbert@aol.com,5
14922,Timothy Torres,TTorres@protonmail.com,5
24630,Jennifer Weaver,Jennifer_W@aol.com,5
27288,Crystal Horton,Crystal.H@mail.com,5
27477,Brittney Burke,Burke_Brittney16@att.com,5
29906,Cynthia Cabrera,Cabrera.Cynthia@xfinity.com,5
29949,Sarah Floyd,Sarah_F@gmail.com,5
32267,Michelle Villa,Michelle.Villa@aol.com,5
39027,Nichole Hebert,Hebert.Nichole@gmail.com,5
39129,Lindsey Mckenzie,Lindsey.Mckenzie@att.com,5
39525,Ashley Edwards,Edwards.Ashley@yahoo.com,5
70114,Christopher Torres,Torres.Christopher@gmail.com,5
78819,Mrs. Tara Sullivan DVM,Mrs..DVM@xfinity.com,5
78820,Michaela Brown,MichaelaBrown@att.com,5
78822,Kurt Maldonado MD,KMD15@xfinity.com,5
97072,Jason Richardson,Jason.R@zoho.com,5
97099,Terri Hurley,THurley@xfinity.com,5
97261,Mrs. Caitlin Webb,Mrs._W@comcast.net,5
98410,Holly Arroyo,Arroyo_Holly@mail.com,5
98674,Denise Campbell,Denise_C@gmail.com,5
99887,Michael Smith,Michael.S42@aol.com,5
99888,Dr. Trevor Sellers,Dr._S@aol.com,5
101569,Kayla Murphy,Kayla.Murphy@yahoo.com,5
102061,Taylor Martinez,Taylor.Martinez@hotmail.com,5
109511,Charles Wilson,Charles_Wilson@yahoo.com,5
109590,Tyler Allison,Tyler.A@protonmail.com,5
110082,Matthew Bailey,Matthew_Bailey@aol.com,5
110083,Charlotte Acevedo,Charlotte_A@verizon.com,5
111909,Darrell Brennan,Brennan_Darrell51@hotmail.com,5
111911,Melinda Jensen,MelindaJensen@zoho.com,5
113915,Terry Arnold,Arnold.Terry@zoho.com,5
114770,Mary Nguyen,Nguyen.Mary@protonmail.com,5
114909,Lindsay Cuevas,Lindsay.Cuevas40@mail.com,5
116455,Cynthia Hernandez,CynthiaHernandez@xfinity.com,5
116457,Angela Hawkins,Angela_H@gmail.com,5
118817,Sue Lawson,Sue.L52@comcast.net,5
119161,Alyssa Richards,Alyssa_Richards@aol.com,5

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

### 6.What percentage of hotel stays were classified as "repeat guests"?

In [ ]:
((df["is_repeated_guest"].value_counts()[1])/len(df["is_repeated_guest"]))*100

3.191222045397437

### 7.What are the top 5 most common last name in the dataset?

In [ ]:
df["name"].value_counts()

Michael Johnson      48
Robert Smith         48
Michael Smith        47
John Smith           46
Christopher Smith    44
                     ..
Timothy Lane          1
Jimmy Griffin         1
Colleen Kelly         1
Lucas Young           1
Ariana Michael        1
Name: name, Length: 81503, dtype: int64

In [ ]:
last_name=[i.split(" ")[1] for i in df["name"]]

In [ ]:
df["last_name"]=last_name

In [ ]:
df["last_name"].value_counts().head()

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: last_name, dtype: int64

### 8.What are the names of the people who had booked the most number children and babies for their stay?

In [ ]:
df["name"].loc[df["babies"].value_counts()[10]]

'Andrea Baker'

In [ ]:
df["name"].loc[df["babies"].value_counts()]

118473    Alison Morris
900        Jeffrey King
15        Samuel Zavala
1          Andrea Baker
1          Andrea Baker
Name: name, dtype: object

In [ ]:
df["babies"].value_counts()

0     118473
1        900
2         15
10         1
9          1
Name: babies, dtype: int64

In [ ]:
df["name"].loc[df["children"].value_counts()[10.0]]

'Andrea Baker'

In [ ]:
df["name"].loc[df["children"].value_counts()]

110796       Andres Savage
4861       Victoria Norton
3652      Cristian Sanchez
76          Lee Ramirez MD
1             Andrea Baker
Name: name, dtype: object

### 9.What are the top 3 most common area code in the phone numbers?

In [ ]:
area_code=[i.split("-")[0] for i in df["phone-number"]]

In [ ]:
df["area_code"]=area_code

In [ ]:
df["area_code"].value_counts().head(3)

799    168
185    167
541    166
Name: area_code, dtype: int64

### 10.How many arrivals took place between the 1st and the 15th of the month

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
 36  last_name                       119390 non-null  object
 37  area_code                       119390 non-null  object
dtypes: float64(4), int64(16), object(18)
memory usage: 34.6+ MB

In [ ]:
df["arrival_date_day_of_month"].value_counts()

17    4406
5     4317
15    4196
25    4160
26    4147
9     4096
12    4087
16    4078
2     4055
19    4052
20    4032
18    4002
24    3993
28    3946
8     3921
3     3855
30    3853
6     3833
14    3819
27    3802
21    3767
4     3763
13    3745
7     3665
1     3626
23    3616
11    3599
22    3596
29    3580
10    3575
31    2208
Name: arrival_date_day_of_month, dtype: int64

In [ ]:
# it will return list of no od arriavles date of a month 
arrivals=[i for i in df["arrival_date_day_of_month"]if i in range(1,16)]

In [ ]:
arr=0
for i in df['arrival_date_day_of_month']:
  if i in range(1,16):
    arr=arr+i
print(arr)

466297